# AppVeyor documentation https://www.appveyor.com/docs

version: '{build}'

pull_requests:
  # Do not increment build number for pull requests
  do_not_increment_build_number: true

nuget:
  # Do not publish for pull requests
  disable_publish_on_pr: true

build_script:
- ps: .\build.ps1

test: off

artifacts:
# Store VSIX packages
- path: .\Artifacts\**\*.vsix
  name: NuGet
# Store xUnit Test Results
- path: .\Artifacts\**\*.xml
  name: xUnit Test Results

deploy:
# Publish VSIX packages
- provider: NuGet
  #server: https://www.myget.org/F/aspnet-mvc-boilerplate/vsix/
  server: https://www.myget.org/feed/Packages/ilyaf-test-packages
  api_key:
    secure: e6Yao0cLeVCh1ISg9t6VC+E9PvGaMoZnELUYS0Ew3wtl6WDeCX9Wf5Fkl7l+5Bck
  on:
    # Only publish from the master branch
    branch: master
  # Publish the following file
  artifact: ASP.NET MVC Boilerplate.vsix
